.about-main {
  display: flex;
  justify-content: space-between;
  justify-self: center;
  width: 90%;
  padding: 50px 150px;
}

.about-left {
  display: flex;
  gap: 1rem;
  flex: 2;
}

.about-left-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.about-left-content span {
  display: flex;
  gap: 1rem;
  border-left: 3px solid var(--secondary);
  padding: 20px;
  align-items: center;
}

.about-left-content span img {
  width: 40px;
  height: 40px;
  filter: brightness(0) saturate(100%) invert(98%) sepia(95%) saturate(13%) hue-rotate(199deg) brightness(103%) contrast(101%);
}

.about-right {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 1rem;
  color: white;
}

.about-right-skills {
  display: flex;
  gap: 1rem;
}

.about-right-skills li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  font-size: 16px;
}

.about-right-skills li span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.about-right-skills li span img {
  width: 30px;
  height: 30px;
  filter: brightness(0) saturate(100%) invert(56%) sepia(12%) saturate(7105%) hue-rotate(326deg) brightness(109%) contrast(101%);
}

@media screen and (min-width: 1800px) {
  .about-main {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  .about-main {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .about-main {
    /* flex-direction: column; */
    padding: 50px 0;
  }

  .about-left {
    display: none;
  }

  .about-right {
    text-align: center;
  }

  .about-right-skills {
    flex-direction: column;
  }

  .about-right-skills li {
    align-items: center;
  }
}