.home-main {
  display: flex;
  flex-direction: column;
  padding: 50px;
  gap: 1rem;
  margin-top: 30px;
  /* background-color: pink; */
}

.home-content {
  display: flex;
  padding: 0 0 0 200px;
}

.home-left-content {
  /* background-color: aquamarine; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  font-size: 22px;
  padding-top: 50px;
}

.home-text {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;
}

.shifted-text {
  margin-left: -250px;
}

.home-text span {
  color: var(--secondary);
  font-weight: bolder;
}

.home-photo {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.photo-field {
  width: 400px;
  height: 430px;
}

.home-buttons {
  /* background-color: blueviolet; */
  display: flex;
  gap: 1rem;
  font-size: 18px;
}

.home-line {
  display: flex;
  /* gap: 2rem; */
  flex: 1;
  padding: 1rem;
  margin: 0 -50px;
  background-color: var(--lighter-primary);
  color: var(--lighter-text);
}

.home-line ul {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

.home-line li {
  list-style: none;
}

.home-line li:hover {
  color: var(--light-secondary);
}


@media screen and (max-width: 1024px) {
  .home-content {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .home-main {
    padding: 10px;
  }
  
  .home-content {
    flex-direction: column;
    padding: 0;
    gap: 2rem;
  }

  .home-text {
    align-items: center;
  }

  .shifted-text {
    margin-left: 0;
    border-bottom: 3px solid var(--secondary);
    padding-bottom: 10px;
  }

  .shifted-text span {
    display: none;
  }

  .home-buttons {
    justify-content: center;
  }

  .home-line {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .home-line ul {
    justify-content: space-between;
  }
}